<package-def>
	<class name="Дурак" file="src/Классы/Дурак.os"/>
    <class name="infobase" file="src/Классы/infobase.os"/>
	<class name="summary" file="src/Классы/infobase/summary.os"/>
    <class name="ИсполнительКоманд" file="src/Классы/ИсполнительКоманд.os"/>
    <module name="РаботаСВыводом" file="src/Модули/РаботаСВыводом.os"/>
    <module name="Перечисления" file="src/Модули/Перечисления.os"/>
    <module name="ОбщегоНазначения" file="src/Модули/ОбщегоНазначения.os"/>
     <!-- <module name="ПроцессорыКоллекций" file="src/Модули/ПроцессорыКоллекций.os"/> -->
</package-def>